<!DOCTYPE html>
<html>
<head>
  <title>Depot</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">
		<header>
			<h1>Pragmatic Bookshelf</h1>
		</header>
		<div class="content clearfix">
			<aside>
				<ul class="nav">
					<li>
						<a href="">Menu</a>
						<a href="">Home</a>
						<a href="">Questions</a>
						<a href="">News</a>
						<a href="">Contact</a>
					</li>
				</ul>
			</aside>

      <%= yield %>

    </div>
  </div>

</body>
</html>
